<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head", { title: 'Dashboard' }) %>

    <!-- link to stylesheet -->
    <link rel="stylesheet" href="/styles/dashboard.css" />
  </head>

  <body>
    <header>
      <%- include("includes/main-header") %> 
      <%- include("includes/nav-header") %>
    </header>
    
    <main>
      <% if(updateStatus.hasMessage) { %>
        <section class="alert-green">
          <h1><%= updateStatus.message %></h1>
        </section>
      <% } %>
      <% if(statusStats.count_approved === 0 && statusStats.count_pending === 0 && statusStats.count_rejected === 0) { %>
        <section class="alert">
            <h1>There are currently no NOCs to process</h1>
            <h2>Please check back later !</h2>
        </section>
        <% } else { %>
      <section class="heading">
          <h1>NOC - STATISTICS</h1>
      </section>
      
      <ol class="noc-stats">
        <li>
          <section class="noc-stats-details-container">
            <section class="noc-stats-details-heading">
              <h1>Approved NOC's</h1>
            </section>
            <section class="noc-stats-details-body">
              <p><%= statusStats.count_approved %></p>
            </section>
          </section>
        </li>
        <li>
          <section class="noc-stats-details-container">
            <section class="noc-stats-details-heading">
              <h1>Pending NOC's</h1>
            </section>
            <section class="noc-stats-details-body">
              <p><%= statusStats.count_pending %></p>
            </section>
          </section>
        </li>
        <li>
          <section class="noc-stats-details-container">
            <section class="noc-stats-details-heading">
              <h1>Rejected NOC's</h1>
            </section>
            <section class="noc-stats-details-body">
              <p><%= statusStats.count_rejected %></p>
            </section>
          </section>
        </li>
      </ol>
      
          <section class="table_parent_container">
            <section class="table_container">
              <section class="table_header">
                <h1>NO OBJECTION CERTIFICATES - Status</h1>
          </section>
          <section class="table_body">
            <table>
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>Enrollment Number</th>
                  <th>Name</th>
                  <th>Company Name</th>
                  <th>Department Status</th>
                  <th>T&P Status</th>
                  <th>More Details</th>
                </tr>
              </thead>
              <tbody>
                <% let serialNo=1 %>
                <% for (const noc of nocs) { %>
                <tr>
                  <form action="/dashboard-department/<%= noc.noc_id %>" method="POST">
                    <td><%= serialNo %></td>
                    <td><%= noc.enrollment_no %></td>
                    <td><%= noc.student_name %></td>
                    <td><%= noc.organization_name %></td>
                    <td><p class="status <%= noc.department_status %>"><%= noc.department_status %></p></td>
                    <td><p class="status <%= noc.tpo_status %>"><%= noc.tpo_status %></p></td>
                    <td><button class="btn">View</button></td>
                  </form>
                </tr>
                <% serialNo++ %>
                <% } %>
              </tbody>
            </table>
          </section>
        </section>
      </section>
    <% } %>

  </main>

    <footer><%- include("includes/footer") %></footer>
  </body>
</html>
