<!DOCTYPE html>

<html>
  <head>
    <%- include("includes/head", { title: 'Login' }) %>

    <!-- link to stylesheet -->
    <link rel="stylesheet" href="./styles/login.css" />
  </head>
  <body>
    <header>
      <%- include("includes/main-header") %>
    </header>

    <main>
      <!--login container start -->
      <div class="login-container">
        <div class="form-box">
          <h2>Login Here</h2>
          <% if (inputData.hasError) { %>
            <p id="input-error"><%= inputData.message %></p>
          <% } %>
          <form class="login" action="/login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="username" id="email" name="email" value="<%= inputData.email %>" required />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="password" id="password" name="password" value="<%= inputData.password %>" required />
            </div>
            <button type="submit" class="btn">Login &#x2794;</button>
            <a href="/forgot-password" class="btn-alt">Forgot Password</a>
          </form>
          <h4>OR</h4>
          <div class="google-login">
            <button><img src="./images/g.png" />Login With Google</button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
