<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head", { title: 'More Details' }) %>

    <!-- link to stylesheet -->
    <link rel="stylesheet" href="/styles/dashboard.css" />
    <link rel="stylesheet" href="/styles/noc-form.css" />
    <link rel="stylesheet" href="/styles/more-details.css" />
  </head>

  <body>
    <header>
      <%- include("includes/main-header") %> 
      <%- include("includes/nav-header") %>
    </header>

    <main>
      <% const options = { year: 'numeric', month: 'long', day: 'numeric' }; %>
      <section class="details-parent-container">
        <section class="student-details-container">
          <section class="student-details-heading">
            <h1>Department Status</h1>
          </section>
          <section class="student-details-body">
            <table>
              <tbody>
                <tr>
                  <td>
                    <p class="status <%= moreDetails.department_status %>">
                      <%= moreDetails.department_status %>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </section>
        </section>
        <section class="student-details-container">
          <section class="student-details-heading">
            <h1>T&P Status</h1>
          </section>
          <section class="student-details-body">
            <table>
              <tbody>
                <tr>
                  <td>
                    <p class="status <%= moreDetails.tpo_status %>">
                      <%= moreDetails.tpo_status %>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </section>
        </section>
      </section>

      <section class="details-parent-container">
        <section class="student-details-container">
          <section class="student-details-heading">
            <h1>Student's Details</h1>
          </section>
          <section class="student-details-body">
            <table>
              <tbody>
                <tr>
                  <td>
                    <b>Name - </b><span><%= moreDetails.student_name %></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Enrollment Number - </b
                    ><span><%= moreDetails.enrollment_no %></span>
                  </td>
                </tr>
                <tr>
                  <td><b>Email - </b><span><%= moreDetails.email %></span></td>
                </tr>
                <tr>
                  <td>
                    <b>Mobile Number - </b
                    ><span><%= moreDetails.student_mobile_no %></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Father's Name - </b
                    ><span><%= moreDetails.father_name %></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Branch - </b><span><%= moreDetails.branch_name %></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Department - </b
                    ><span><%= moreDetails.department_name %></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Semester - </b><span><%= moreDetails.semester %></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Current Address - </b
                    ><span><%= moreDetails.student_current_address %></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>City - </b><span><%= moreDetails.student_city %></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>State - </b><span><%= moreDetails.student_state %></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Pin Code - </b
                    ><span><%= moreDetails.student_pin_code %></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </section>
        </section>

        <section class="student-details-container">
          <section class="student-details-heading">
            <h1>Company Details</h1>
          </section>
          <section class="student-details-body">
            <table>
              <tbody>
                <tr>
                  <td>
                    <b>NOC Application Date - </b
                    ><span><%= new Date(moreDetails.date).toLocaleDateString(undefined, options) %></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Company Name - </b
                    ><span><%= moreDetails.organization_name %></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Location - </b
                    ><span><%= moreDetails.organization_location %></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Name of person receiving NOC in company - </b
                    ><span><%= moreDetails.person_receiving_noc_name %></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Designation of person receiving NOC in company - </b
                    ><span
                      ><%= moreDetails.person_receiving_noc_designation %></span
                    >
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Internship Days - </b
                    ><span><%= moreDetails.internship_days %></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Internship Start Date - </b
                    ><span><%= new Date(moreDetails.internship_start_date).toLocaleDateString(undefined, options) %></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Internship End Date - </b
                    ><span><%= new Date(moreDetails.internship_end_date).toLocaleDateString(undefined, options) %></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Stipend (per month) - </b
                    ><span>&#x20B9; <%= moreDetails.stipend %></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Company Website - </b
                    ><span><%= moreDetails.organization_website %></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Apply Through - </b
                    ><span><%= moreDetails.applying_through %></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Full Address of company- </b
                    ><span><%= moreDetails.organization_address %></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </section>
        </section>
      </section>

      <% if(locals.role === "tnp" || locals.role === "department") { %>
        <section class="NOC-form-parent-container">
          <div class="NOC-form-container">
            <h4 class="noc-form-sub-heading">Update Status</h4>
            <form action="/<%= locals.role %>/update-noc-status/<%= moreDetails.noc_id %>" method="POST">
              <ul class="input-fields-list">
                <li>
                  <label for="status">Status</label>
                  <select name="status" id="status" required>
                    <option value="" disabled selected hidden>
                      Choose Status
                    </option>
                    <option value="approved">Approved</option>
                    <option value="pending">Pending</option>
                    <option value="rejected">Rejected</option>
                  </select>
                </li>
                <li>
                  <label for="query">Query</label>
                  <textarea
                    name="query"
                    id="query"
                    cols="80"
                    rows="10"
                  ></textarea>
                </li>
              </ul>

              <div class="button-container">
                <button type="reset" class="btn-alt">Clear</button>
                <button type="submit" class="btn">Update</button>
              </div>
            </form>
          </div>
        </section>
      <% } %>
    </main>

    <footer><%- include("includes/footer") %></footer>
  </body>
</html>
